# Pandas basics

In [6]:
import pandas as pd  # common alias

We have a CSV file

```csv
rank,title,year,rating
1,The Shawshank Redemption,1994,9.2
2,The Godfather,1972,9.2
3,The Dark Knight,2008,9.0
4,The Godfather Part II,1974,9.0
5,12 Angry Men,1957,8.9
6,Schindler's List,1993,8.9
7,The Lord of the Rings: The Return of the King,2003,8.9
8,Pulp Fiction,1994,8.8
9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8
10,"The Good, the Bad and the Ugly",1966,8.8
```

In [8]:
pd.read_csv("../data/top_movies.csv")

     rank                     title  year  rating
0       1  The Shawshank Redemption  1994     9.2
1       2             The Godfather  1972     9.2
2       3           The Dark Knight  2008     9.0
3       4     The Godfather Part II  1974     9.0
4       5              12 Angry Men  1957     8.9
..    ...                       ...   ...     ...
245   246               Dersu Uzala  1975     8.0
246   247                   Aladdin  1992     8.0
247   248                    Gandhi  1982     8.0
248   249                  The Help  2011     8.0
249   250            The Iron Giant  1999     8.0

[250 rows x 4 columns]

## DataFrames and Series

## Data types