# Get the best movies on IMDB

In [1]:
import pandas as pd
import requests

In [37]:
# Using request because without the proper HTTP header, I am getting Czech titles
url = "https://www.imdb.com/chart/top/"
response = requests.get(url, headers={
    "Accept-Language": "en"
})
raw_df = pd.read_html(response.content)[0]
raw_df

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Godfather Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Dersu Uzala (1975),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Aladdin (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Gandhi (1982),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. The Help (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. The Iron Giant (1999),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [35]:
df = (
    raw_df.assign(
        rank = lambda df: df["Rank & Title"].apply(lambda t: t.split(".", 1)[0]),
        title_and_year = lambda df: df["Rank & Title"].apply(lambda t: t.split(".", 1)[1]),
        year = lambda df: df["title_and_year"].apply(lambda t: t.rsplit("(", 1)[1][:-1]),
        title = lambda df: df["title_and_year"].apply(lambda t: t.rsplit("(", 1)[0].strip()),
    )
    .drop(columns=["Unnamed: 0", "Rank & Title", "Your Rating", "Unnamed: 4", "title_and_year"])
    .rename(columns={"IMDb Rating": "rating"})
)[["rank", "title", "year", "rating"]]
df

    rank                     title  year  rating
0      1  The Shawshank Redemption  1994     9.2
1      2             The Godfather  1972     9.2
2      3           The Dark Knight  2008     9.0
3      4     The Godfather Part II  1974     9.0
4      5              12 Angry Men  1957     8.9
..   ...                       ...   ...     ...
245  246               Dersu Uzala  1975     8.0
246  247                   Aladdin  1992     8.0
247  248                    Gandhi  1982     8.0
248  249                  The Help  2011     8.0
249  250            The Iron Giant  1999     8.0

[250 rows x 4 columns]

In [36]:
df.to_csv("top_movies.csv", index=False)